---
import { Card } from "@eliancodes/brutal-ui";

export type ElementTimeline = {
	title: string;
	date: Date;
	color: string;
};
interface Props {
	elementTimeline: ElementTimeline;
	rightElementColor?: string;
}

const { elementTimeline, rightElementColor } = Astro.props;
console.log(rightElementColor);
const space = "50px";
---
<style define:vars={{ color: elementTimeline.color, space }}>
  div.item::after{
    background-color: var(--color);
    left: calc(var(--space) + 11px);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 90%;
  }
  div.item{
    margin-right: var(--space);
  }
</style>
<div class=`${rightElementColor? '' : 'item'}item  after:h-2 relative relative after:absolute after:top-60% after:content-['']`>
  <Card color={elementTimeline.color}>
    test
  </Card>
</div>
