---
import { Config } from "@eliancodes/brutal-ui";
import Item from "@components/generic/chronological/Item.astro";
import type { ElementTimeline } from "@components/generic/chronological/Item.astro";

type Months =
	| "mars"
	| "avril"
	| "mai"
	| "juin"
	| "juillet"
	| "aout"
	| "septembre";
type ElementsTimelineByMonth = [
	{
		order: 0;
		month: Months;
		elementTimeline: ElementTimeline[];
	},
];

const elementsTimelineByMonth: ElementsTimelineByMonth = [
	{
		order: 0,
		month: "mars",
		elementTimeline: [
			{
				title: "dada",
				date: new Date(),
				color: Config.colors[Math.floor(Math.random() * Config.colors.length)],
			},
			{
				title: "dada",
				date: new Date(),
				color: Config.colors[Math.floor(Math.random() * Config.colors.length)],
			},
		],
	},
];
---

<section >
	{
		elementsTimelineByMonth.sort((a, b) => a.order - b.order).map(({elementTimeline, month})=>
		<>
			<h3 class="text-3xl mt-4">{month}</h3> 
			<div class="flex flex-wrap">
			{elementTimeline.map((element, index) => 
				<div class="mt-4">
					<Item elementTimeline={element} rightElementColor={elementTimeline[index + 1]?.color} />
				</div>)}
			</div>
		</>
		)
	}
	

		

</section>
