---
import { getCollection } from 'astro:content';
import BlogList from '../blog/BlogList.astro';
import { Card } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';



---

<section>

</section>
